<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- порт подключения к приложению для имитации импульсов ТС -->
    <add key="port" value="5052"/>
    <!-- время обновления таблиц в мс-->
    <add key="updateInterval" value="100"/>
    <!-- Нахождение таблиц ТУ и ТС -->
    <add key="file_impuls" value="c:\issend\tables"/>
    <!-- Нахождение файла конфигурации импульс сервера -->
    <add key="cfgpath" value="c:\issend\ImpulsesServer.cfg" />
    <!-- Ip - адрес и порт импульс сервера -->
    <add key="server1" value="tcp://127.0.0.1:5054" />
    <!-- Ip - адрес и порт импульс сервера -->
    <add key="server2" value="tcp://127.0.0.1:5053" />
    <!-- название сервера №1 -->
    <add key="name1" value="МПЦ" />
    <!-- цвета сервера №1-->
    <add key="fpColor1" value="#ffffff" />
    <!-- название сервера №2 -->
    <add key="name2" value="Архив" />
    <!-- цвета сервера №2-->
    <add key="fpColor2" value="green" />
  </appSettings>



  <!-- Описание параметров командной строки   -->
  <!-- -s1 -получение данных с сервера №1   -->
  <!-- -s2 -получение данных с сервера №2   -->

  <!-- -d -сравнивать ли станции    -->
  <!-- -r=кп[1-2] фильтр импульсов  -->

  <!-- -c=d:\Distributiv\TESTER\TESTER\bin\Debug = нахождение файла конфигурации   -->

  <!-- 160801 160712 160801 160727 - список станций для сравнения (может быть две или четыре)   -->

</configuration>