<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- порт подключения к серверу -->
    <add key="port" value="2002"/>
    <!-- Нахождение таблиц ТУ и ТС -->
    <add key="file_impuls" value="c:\neman\Test\"/>
    <!-- Нахождение файла конфигурации импульс сервера -->
    <add key="cfgpath" value="c:\neman\ImpulsesServerTest.cfg" />
    <!-- Ip - адрес и порт импульс сервера -->
    <add key="server" value="tcp://127.0.0.1:5051" />
  </appSettings>
</configuration>