<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- порт подключения к приложению для имитации импульсов ТС -->
    <add key="port" value="5052"/>
    <!-- время обновления таблиц в мс-->
    <add key="updateInterval" value="100"/>
    <!-- Нахождение таблиц ТУ и ТС -->
    <add key="file_impuls" value="d:\Testing\CU-ImpulsesServer\Участок Имитатор\Езерище - Лужесно\Tables\"/>
    <!-- Нахождение файла конфигурации импульс сервера -->
    <add key="cfgpath" value="d:\Testing\CU-ImpulsesServer\Участок Имитатор\System\is\ImpulsesServer.cfg" />
    <!-- Ip - адрес и порт импульс сервера 1 -->
    <add key="server1" value="tcp://127.0.0.1:5051" />
    <!-- Ip - адрес и порт импульс сервера 2 -->
    <add key="server2" value="tcp://127.0.0.1:5051" />
    <!-- название сервера 1 -->
    <add key="name1" value="станции" />
    <!-- название сервера 2 -->
    <add key="name2" value="плеер" />

    <!-- цвет обозначения для сервера 1 -->
    <add key="fpColor1" value="станции" />

    <!-- цвет обозначения для сервера 2 -->
    <add key="fpColor2" value="станции" />
  </appSettings>
</configuration>